<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>board</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
    </welcome-file-list>

    <!-- @WebServlet(name = "BoardFrontController", urlPatterns = "*.do") 동일 -->
<!--    <servlet>-->
<!--        <servlet-name>BoardFrontController</servlet-name>-->
<!--        <servlet-class>controller.BoardController</servlet-class>-->
<!--    </servlet>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>BoardFrontController</servlet-name>-->
<!--        <url-pattern>*.do</url-pattern>-->
<!--    </servlet-mapping>-->

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- 공통 에러 처리 -->
    <error-page>
        <error-code>404</error-code>
        <location>/errorPage/error404.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/errorPage/error500.jsp</location>
    </error-page>

<!--     자바 네임과 디렉터리 인터페이스 (JDNI)를 통해 데이터/객체 API -->
    <resource-ref>
        <description>MysqlDB Resource</description>
        <res-ref-name>jdbc/mysql</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <filter>
        <filter-name>Set Character Encoding</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>Set Character Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>